GMS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.graphmanagerservice.engineeringnotebook.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.graphmanagerservice.engineeringnotebook.org/" name="GraphManagerWSEndpointImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.graphmanagerservice.engineeringnotebook.org/" schemaLocation="http://localhost:8080/GraphManagerService/GraphManagerWSEndpointImplService?xsd=1"/>
</xsd:schema>
</types>
<message name="getEdge">
<part name="parameters" element="tns:getEdge"/>
</message>
<message name="getEdgeResponse">
<part name="parameters" element="tns:getEdgeResponse"/>
</message>
<message name="addEdge">
<part name="parameters" element="tns:addEdge"/>
</message>
<message name="addEdgeResponse">
<part name="parameters" element="tns:addEdgeResponse"/>
</message>
<message name="graphTest">
<part name="parameters" element="tns:graphTest"/>
</message>
<message name="graphTestResponse">
<part name="parameters" element="tns:graphTestResponse"/>
</message>
<message name="createGraph">
<part name="parameters" element="tns:createGraph"/>
</message>
<message name="createGraphResponse">
<part name="parameters" element="tns:createGraphResponse"/>
</message>
<message name="deleteGraph">
<part name="parameters" element="tns:deleteGraph"/>
</message>
<message name="deleteGraphResponse">
<part name="parameters" element="tns:deleteGraphResponse"/>
</message>
<message name="addVertex">
<part name="parameters" element="tns:addVertex"/>
</message>
<message name="addVertexResponse">
<part name="parameters" element="tns:addVertexResponse"/>
</message>
<message name="getVertex">
<part name="parameters" element="tns:getVertex"/>
</message>
<message name="getVertexResponse">
<part name="parameters" element="tns:getVertexResponse"/>
</message>
<portType name="GraphManagerWSEndpoint">
<operation name="getEdge">
<input wsam:Action="http://ws.graphmanagerservice.engineeringnotebook.org/GraphManagerWSEndpoint/getEdgeRequest" message="tns:getEdge"/>
<output wsam:Action="http://ws.graphmanagerservice.engineeringnotebook.org/GraphManagerWSEndpoint/getEdgeResponse" message="tns:getEdgeResponse"/>
</operation>
<operation name="addEdge">
<input wsam:Action="http://ws.graphmanagerservice.engineeringnotebook.org/GraphManagerWSEndpoint/addEdgeRequest" message="tns:addEdge"/>
<output wsam:Action="http://ws.graphmanagerservice.engineeringnotebook.org/GraphManagerWSEndpoint/addEdgeResponse" message="tns:addEdgeResponse"/>
</operation>
<operation name="graphTest">
<input wsam:Action="http://ws.graphmanagerservice.engineeringnotebook.org/GraphManagerWSEndpoint/graphTestRequest" message="tns:graphTest"/>
<output wsam:Action="http://ws.graphmanagerservice.engineeringnotebook.org/GraphManagerWSEndpoint/graphTestResponse" message="tns:graphTestResponse"/>
</operation>
<operation name="createGraph">
<input wsam:Action="http://ws.graphmanagerservice.engineeringnotebook.org/GraphManagerWSEndpoint/createGraphRequest" message="tns:createGraph"/>
<output wsam:Action="http://ws.graphmanagerservice.engineeringnotebook.org/GraphManagerWSEndpoint/createGraphResponse" message="tns:createGraphResponse"/>
</operation>
<operation name="deleteGraph">
<input wsam:Action="http://ws.graphmanagerservice.engineeringnotebook.org/GraphManagerWSEndpoint/deleteGraphRequest" message="tns:deleteGraph"/>
<output wsam:Action="http://ws.graphmanagerservice.engineeringnotebook.org/GraphManagerWSEndpoint/deleteGraphResponse" message="tns:deleteGraphResponse"/>
</operation>
<operation name="addVertex">
<input wsam:Action="http://ws.graphmanagerservice.engineeringnotebook.org/GraphManagerWSEndpoint/addVertexRequest" message="tns:addVertex"/>
<output wsam:Action="http://ws.graphmanagerservice.engineeringnotebook.org/GraphManagerWSEndpoint/addVertexResponse" message="tns:addVertexResponse"/>
</operation>
<operation name="getVertex">
<input wsam:Action="http://ws.graphmanagerservice.engineeringnotebook.org/GraphManagerWSEndpoint/getVertexRequest" message="tns:getVertex"/>
<output wsam:Action="http://ws.graphmanagerservice.engineeringnotebook.org/GraphManagerWSEndpoint/getVertexResponse" message="tns:getVertexResponse"/>
</operation>
</portType>
<binding name="GraphManagerWSEndpointImplPortBinding" type="tns:GraphManagerWSEndpoint">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getEdge">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addEdge">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="graphTest">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createGraph">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteGraph">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addVertex">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getVertex">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="GraphManagerWSEndpointImplService">
<port name="GraphManagerWSEndpointImplPort" binding="tns:GraphManagerWSEndpointImplPortBinding">
<soap:address location="http://localhost:8080/GraphManagerService/GraphManagerWSEndpointImplService"/>
</port>
</service>
</definitions>